@page "/"
@using VaultService
@inject NavigationManager NavigationManager
@inject IVaultManager VaultManager
@inject IUserService UserService
@rendermode InteractiveServer

<PageTitle>City Vault</PageTitle>

<div class="@(_loggedIn ? "removeDisplay" : "")">
    <EditForm EditContext="@_editContext" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label for="username">Username</label>
            <InputText id="loginUsername" class="form-control" @bind-Value="_username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="loginPassword" type="password" class="form-control" @bind-Value="_password" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </EditForm>
    <img style="width: 60vw;" src="images/welcome-gif.gif" alt=""/>
</div>

<div class="mainGrid @(_loggedIn ? "isLoggedIn" : "isNotLoggedIn")">
    <img src="@(_opened ? "images/look-gif.gif" : "images/where-gif.gif")" class="asianGif" alt=""/>
    <div class="mainGridItem left @(_opened ? "openLeft" : "")">
        @if (_opened)
        {
            <table>
                <tr>
                    <th>Website</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                @foreach (var combination in Entries)
                {
                <tr>
                    <td>@combination.Website</td>
                    <td>@combination.Username</td>
                    <td type="password">@combination.Password</td>
                </tr>
                }
            </table>
            <button @onclick="@ShowCreateNewModal">Add new combination</button>
        }
    </div>
    <div class="mainCenter">
        <img alt="" class="lock @(_opened ? "open" : "")" @onclick="@OpenLock" src="@(_opened ? "images/lock-open.png" : "images/lock.png")" />
        @if (!_opened){
                <button class="logoutButton" @onclick="@Logout">Logout</button>
        }
    </div>
    <div class="mainGridItem right @(_newCreated ? "removeDisplay" : "")">
        <EditForm Model="@_userModel" OnValidSubmit="HandleCreateUser">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="username">Username</label>
                <InputText id="username" class="form-control" @bind-Value="_userModel.Username" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="_userModel.Password" />
            </div>

            <button type="submit" class="btn btn-primary">Create User</button>
        </EditForm>
    </div>
</div>

@if (_displayPasswordInput)
{
    <div class="decryptEncryptInputWrapper @(_wrongPassword ? "wrongPassword" : "")">
        <input @onchange="@PasswordInputChanged" @ref="_decryptPasswordInput" type="password" class="decryptEncryptInput" @onkeydown="@TryPassword"/>
    </div>
}

@if(_createNewEntryModal)
{
    <div class="createEntryOverlay">
        <EditForm Model="NewVaultEntry" OnSubmit="SubmitEntry">
            <InputText placeholder="Website" @bind-Value="NewVaultEntry.Website"></InputText>
            <InputText placeholder="Username" @bind-Value="NewVaultEntry.Username"></InputText>
            <InputText placeholder="Password" type="password" @bind-Value="NewVaultEntry.Password"></InputText>
            <button type="submit">Add Entry</button>
        </EditForm>
    </div>
}


@code {
    private EditContext? _editContext;
    private ElementReference? _decryptPasswordInput;
    private VaultEntry NewVaultEntry { get; set; } = new VaultEntry();
    private bool _loggedIn;
    private bool _opened;
    private bool _displayPasswordInput;
    private bool _createNewEntryModal;
    private bool _wrongPassword;
    private bool _newCreated;
    private string? _decryptPassword = "";
    private string _username = "";
    private string _password = "";
    private List<VaultEntry> Entries { get; set; } = new List<VaultEntry>();
    
    private readonly UserModel _userModel = new UserModel();
    
    private class UserModel
    {
        public string Username { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }
    
    protected override void OnInitialized()
    {
        _editContext = new EditContext(this);
    }

    private void Logout()
    {
        NavigationManager.NavigateTo(NavigationManager.BaseUri, true);
    }

    private void ShowCreateNewModal()
    {
        _createNewEntryModal = true;
    }

    private async Task HandleLogin()
    {
        if(await UserService.ValidateUserAsync(_username, _password))
        {
            _loggedIn = true;
            Entries = VaultManager.LoadEntries();
        }
    }
    
    private async Task HandleCreateUser()
    {
        bool isCreated = await UserService.CreateUserAsync(_userModel.Username, _userModel.Password);
        if (isCreated)
        {
            _newCreated = true;
        }
        else
        {
            Console.WriteLine("Error creating user!");
        }
    }
    
    private async Task OpenLock()
    {
        if (_opened)
        {
            VaultManager.EncryptVault(_decryptPassword);
            _opened = false;
            _displayPasswordInput = false;
            return;
        }
        _displayPasswordInput = true;
        await Task.Delay(100);
        if (_decryptPasswordInput != null) await _decryptPasswordInput.Value.FocusAsync();
    }

    private async Task TryPassword(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
        {
            await Task.Delay(200);
            try
            {
                VaultManager.DecryptVault(_decryptPassword);
                Entries = VaultManager.LoadEntries();
                _displayPasswordInput = false;
                _opened = true;
            }
            catch (Exception exception)
            {
                Console.WriteLine(exception);
                _wrongPassword = true;
            }
        }
    }

    public void CreateNewEntry ()
    {
        _createNewEntryModal = true;
    }
    
    public void SubmitEntry()
    {
        VaultManager.AddEntry(NewVaultEntry);
        _createNewEntryModal = false;
        Entries = VaultManager.LoadEntries();
    }

    private void PasswordInputChanged(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            _decryptPassword = e.Value.ToString();
            _wrongPassword = false;
        }
    }
}

<style>
    .isLoggedIn {
        display: grid;
    }
    
    .isNotLoggedIn {
        display:  none !important;
    }
    
    .removeDisplay {
        display: none !important;
    }
    
    .mainGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 100vh;
        background-image: url("images/city-vault.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        position: relative;
    }

    .asianGif{
        width: 400px;
        bottom: 0;
        position: absolute;
    }

    .mainGridItem.left {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        background-color: rgba(208, 198, 198, 0.71);
        border-radius: 10px;
        padding: 5px;
        height: 50%;
        width: 80%;
        box-shadow: black 0 0 10px;
        visibility: hidden;
    }
    
    .mainGridItem.left.openLeft {
        visibility: visible;
    }
    
    .mainCenter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
    }

    img.wok {
        width: 95%;
    }
    
    .lock {
        height: 100px;
        width: 100px;
        background: red;
        border-radius: 8px;
        border: none;
        position: absolute;
        cursor: pointer;
    }
    
    .logoutButton {
        height: 30px;
        width: 100px;
        color: red;
        border-radius: 8px;
        border: none;
        position: absolute;
        cursor: pointer;
        margin-top:  150px;
    }
    
    .lock.open {
        background: green;
    }
    
    .decryptEncryptInputWrapper {
        position: absolute;
        align-self: center;
        top: 35%;
        left: calc(50% - 100px);
        height: 50px;
        width: 200px;
        z-index: 100;
    }
    
    .decryptEncryptInputWrapper.wrongPassword {
        background-color: red;
        border-radius: 5px;
        animation: shake 0.5s;
    }
    
    @@keyframes shake{
        0% { transform: skewX(-15deg); }
        5% { transform: skewX(15deg); }
        10% { transform: skewX(-15deg); }
        15% { transform: skewX(15deg); }
        20% { transform: skewX(0deg); }
        100% { transform: skewX(0deg); }
    }
    
    .decryptEncryptInputWrapper input {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: none;
        padding: 5px;
        background-image: url("images/key.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        background-color: rgba(128, 128, 128, 0.4);
    }
    
    .decryptEncryptInputWrapper input:focus {
        background-color: rgba(128, 128, 128, 0.8);
        outline: none;
        color: white;
    }
    
    .createEntryOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
</style>